/* Write your global styles here, in PostCSS syntax */

@tailwind base;

* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Poppins', Courier, monospace;
}

@tailwind components;

@tailwind utilities;
